
.navbar-inverse {
    background-color: #085B62;
    border-color: #085B62;
}
html, a {color: #A84CA4}
      a:hover, a:focus{color:#A84CA4;text-decoration:underline}

::selection {
    text-shadow: none;
    background: #9ECED2;
}


.avatar {
  
    width: 10%;
    display: inline-block;
    filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(76deg) brightness(109%) contrast(101%);

           
    }
     
     


/* CSS - Cascading Style Sheet */

/* As hex codes */

.color-primary-0 { color: #14737C }	/* Main Primary color */
.color-primary-1 { color: #46939A }
.color-primary-2 { color: #2A8088 }
.color-primary-3 { color: #085B62 }
.color-primary-4 { color: #014349 }

.color-secondary-1-0 { color: #CBC01F }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FDF472 }
.color-secondary-1-2 { color: #DFD543 }
.color-secondary-1-3 { color: #A1970B }
.color-secondary-1-4 { color: #797100 }

.color-secondary-2-0 { color: #871482 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #A84CA4 }
.color-secondary-2-2 { color: #952D90 }
.color-secondary-2-3 { color: #6B0767 }
.color-secondary-2-4 { color: #50004D }

