
.navbar-inverse {
    background-color: #1B5C5C;
    border-color: #1B5C5C;
}
html, a {color: #820257}
      a:hover, a:focus{color:#820257;text-decoration:underline}

::selection {
    text-shadow: none;
    background: #9BA3A1;
}

h1 {
  color: #1B5C5C;
 }
 
h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #820257;
 }

.avatar {
  
    width: 10%;
    display: inline-block;
    filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(76deg) brightness(109%) contrast(101%);

           
    }
     



