.navbar-inverse {
    background-color: #1B5C5C;
    border-color: #1B5C5C;
}
html, a {color: #820257}
      a:hover, a:focus{color:#820257;text-decoration:underline}

::selection {
    text-shadow: none;
    background: #9BA3A1;
}

h1 {
  color: #1B5C5C;
 }
 
h2 {
  color: #820257;
 }

h3 {
  color: #820257;
 }

h4 {
  color: #820257;
 }

h5 {
  color: #820257;
 }
h6 {
  color: #820257;
 }